* {
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    /* margin-top: 8rem; */
}

.top {
    background-image: linear-gradient(176deg, #27296d 70%, white calc(70% + 2px));
    padding-top: 5rem;
}

#header {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.img-name {
    position: relative;
}

#computer-desk {
    width: 30rem;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#name {
    position: absolute;
    bottom: .5rem;
    left: 6rem;
    color: #27296d;
    background-color: #a393eb;
    padding: .5rem;
    border-radius: 25px;
}

#about-me-info {
    padding: 2rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #27296d;
}

p {
    font-size: 22px;
    margin-top: 2rem;
}

.devicon-github-original-wordmark {
    color: #27296d !important;
    margin-top:.2rem;
    font-size: 3rem;
    margin-left: 90%;
    text-decoration: none;
}

.devicon-github-original-wordmark:hover {
    color: #a393eb !important;
}

.projects-container-title {
    margin-left: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: #27296d;
    text-decoration: underline;
}

.projects-container {
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    color: #27296d;
    justify-content: space-around;
}

.project-card {
    width: 300px;
    border: 1px solid #27296d;
    padding: 1rem;
    box-shadow: #27296d 0px 1px 2px 0px, #27296d 0px 1px 3px 1px;
}

.name {
   margin-bottom: -1.5rem;
   text-decoration: underline;
   font-size: 2rem;;
}

.image {
    width: 300px;
    height: 225px;
}

.icon-container {
    display: flex;
    width: 1rem;
    margin-top: .5rem;
    margin-left: 70%;
}

.material-symbols-outlined {
    color: #27296d !important;
    font-size: 2.5rem;
    text-decoration: none;
}

.devicon-github-original {
    color: #27296d !important;
    margin-top:.2rem;
    font-size: 2rem;
    margin-left: 85%;
    text-decoration: none;
}

.devicon-github-original:hover,
.material-symbols-outlined:hover {
    color: #a393eb !important;
}






